<h1>Employee Table</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">CONTACT</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">USERNAME</th>
      <th scope="col">PASSWORD</th>
      <th scope="col">GENDER</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">EXPERIENCE</th>
      <th scope="col">EDIT / DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th>{{ item.id }}</th>
      <th>{{ item.firstName }}</th>
      <th>{{ item.lastName }}</th>
      <th>{{ item.email }}</th>
      <th>{{ item.contact }}</th>
      <th>{{ item.address }}</th>
      <th>{{ item.username }}</th>
      <th>{{ item.password }}</th>
      <th>{{ item.gender }}</th>
      <th>{{ item.qualification }}</th>
      <th>{{ item.experience }}</th>
      <th>
        <a routerLink="/edit/{{ item.id }}">
          <button style="background-color: rgb(248, 228, 56); margin-right: 10px">Edit</button>
        </a>
        <button (click)="deleteEmployee(item.id)" style="background-color: red">Delete</button>
      </th>
    </tr>
  </tbody>
</table>

<div id="btnn">
  <button routerLink="/add" style="background-color: aqua;  padding: 10px; margin-top: 30px;"><b>Add New Employee</b></button>
</div>
